.inputs{
    border-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    padding: 1em;
    background: #dcdcdc;
    flex: 1;
    position: relative;
    z-index: 1;
    margin-top: 16px;
    border-radius: 64px;
    margin-bottom: 1em;
}

.search-btn{
    cursor: pointer;
    border-style: none;
    background: linear-gradient(90deg, #298164, #2dc887);
    color: white;
    border-radius: 1em;
    width: 7em;
    text-transform: uppercase;
    font-weight: bold;
}
